.home-page {
  margin: 0 auto;
}

.hero-section {
  text-align: center;
  margin-bottom: 60px;
}

.hero-title {
  font-size: 70px;
  color: #cfae44;
  margin-bottom: 20px;
  line-height: 1.2;
}

.hero-subtitle {
  font-size: 25px;
  color: var(--text-color-pr1);
  margin-bottom: 30px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  font-weight:700;
}

.selection-section {
  margin-bottom: 60px;
  background-color: var(--primary);
}

.selection-cards {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.background-foto1 {
  position: absolute;
  right: 150px;
  top: 1098px;
  width: 180px;
  height: auto;
  pointer-events: none; 
}

.background-foto2 {
  position: absolute;
  left: 150px;
  top: 1236px;
  width: 150px;
  height: auto;
  pointer-events: none; 
}

.background-foto3 {
  position: absolute;
  right: 0;
  top: 150px;
  width: 200px;
  height: auto;
  pointer-events: none; 
}

.background-foto4 {
  position: absolute;
  left: 0;
  top: 120px;
  width: 200px;
  height: auto;
  pointer-events: none; 
}
.selection-card {
  flex: 1;
  max-width: 500px;
  background: white;
  padding: 40px;
  text-align: center;
  background-color: var(--primary);
}

.title-selection{
  color: white;
  margin-bottom: 15px;
  font-size: 15px;
  padding: 40px;
}

.selection-card p {
  color: var(--text-color-pr);
  line-height: 1.6;
  margin-bottom: 30px;
}

.card-btn1 {
  display: inline-block;
  background-color: black;
  color: white;
  padding: 25px 25px 25px 25px;
  border-radius: 80px;
  text-decoration: none;
  font-weight: 600;
  transition: transform 0.2s, box-shadow 0.2s;
}
.card-btn2 {
  display: inline-block;
  background-color: #cfae44;
  color: white;
  padding: 25px 25px 25px 25px;
  border-radius: 80px;
  text-decoration: none;
  font-weight: 600;
  transition: transform 0.2s, box-shadow 0.2s;
}

.card-btn2:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
.card-btn1:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
.hero-tags {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 30px;
}

.tag {
  color: var(--text-color-pr);
  padding: 8px 16px;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 500;
}

.how-it-works {
  background-color: var(--third);
  padding: 40px;
  margin-top: 60px;
}

.how-it-works h2 {
  color: white;
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center;
}

.how-it-works-text {
  color: white;
  line-height: 1.8;
  font-size: 17px;
  max-width: 900px;
  margin: 0 auto 40px;
  text-align: center;
}

.cta-section {
  text-align: center;
  background: var(--primary);
  padding: 100px;
}

.cta-section h3 {
  color: var(--text-color);
  font-size: 25px;
}

.cta-btn {
  display: inline-block;
  background-color: var(--secondary);
  color: white;
  padding: 20px 80px 20px 80px;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 600;
  font-size: 17px;
  transition: transform 0.2s, box-shadow 0.2s;
}

.cta-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}