:root {
  --primary: #ffffff;
  --secondary: black;
  --third: #0b400a;
  --bg-color1: white;
  --bg-color2: white;
  --bg-color3: #f8f9fa;
  --bg-color4: white;
  --bg-color5: rgba(235, 235, 235, 0.9);
  --bg-color6:rgba(235, 235, 235, 0.9);
  --bg-color7:#70684d33;
  --bg-color8:rgba(235, 234, 234, 0.9);
  --bg-color9: white;
  --bg-color10: white;
  --bg-color11: #0b400a;

  --text-color: black;
  --text-color-pr: black;
  --text-color-pr1: #333;
  --text-color-pr2:#0b400a;
  --text-color3: #999;
  --text-color4:white;
  --text-color5: #42a73f;
  --text-color6: #666;

  --border-color1:#e0e0e0;
  --border-color2:#0b400a;

  --btn-color: #ff4757;
  --error: #bd818137;
  --error1:#ff4757;
  --error2: #ff3d3d;

  --opacity: 0.5;

  --cancel: #3b3b3b;
}

:root.dark-theme {
  --primary: #0b400a;
  --secondary: #cfae44;
  --third: #0b1c0b;
  --bg-color1: #4a8949;
  --bg-color2: #79c178;
  --bg-color3: #6a9a69;
  --bg-color4: #0b1c0b;
  --bg-color5: #3e673e;
  --bg-color6: #9edd9e;
  --bg-color7:#4a443133;
  --bg-color8: #508b507b;
  --bg-color9:#264826;
  --bg-color10: #9edd9e;
  --bg-color11: #0b1c0b;

  --text-color: white;
  --text-color-pr: rgb(218, 211, 211);
  --text-color-pr1: rgb(218, 211, 211);
  --text-color-pr2: white;
  --text-color3: #0b400a;
  --text-color4:rgb(218, 211, 211);
  --text-color5: rgb(200, 239, 192);
  --text-color6: #bfbcbc;

  --border-color1: #0b400a;
  --border-color2:white;

  --btn-color: #a9111d;
  --error:#f3d3d3a7;
  --error1:#670c13;
  --error2: #992121;

  --opacity: 1;

  --cancel: #3b3b3b;

}

.App{
  background-color: var(--primary);
}
